.jumbotron{
    padding: 2rem;
    background-color:rgb(198, 222, 255);
}

.jumbotron .text-center .display-4 {
    font-family: 'Your Desired Font', Noto Sans, sans-serif; 
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animated-text {
    animation: slideInFromLeft 1s ease-in-out forwards;
}

