<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border"> Download PDF Resume </button>

    <accordion>
        <accordion-group heading="Work experience">
             <div style="text-align: left;">
                <h3 class="mb-0">Developpeur BI</h3>
                <h2 class="text-primary">VERNICOLOR GROUP</h2>
                <h6><u>6 février - 6 Juin | 4 mois </u></h6>
                <ul>
                    <li>Conception et developpement d'une solution business intelligence pour l’analyse de production et le contrôle d’chat.</li>
                    <li>Préparer les ensembles de données pour l'analyse en nettoyant, filtrant et structurant les données brutes.</li>
                    <li>Gérer les tableaux de bord et les rapports réguliers en actualisant les données et en vérifiant leur exactitude.</li>

                </ul>
             </div>
             <hr>
             <div style="text-align: left;">
                <h3 class="mb-0">Developpeur BI</h3>
                <h2 class="text-primary">VERNICOLOR GROUP</h2>
                <h6><u>6 février - 6 Juin | 4 mois </u></h6>
                <ul>
                    <li>Conception et developpement d'une solution business intelligence pour l’analyse de production et le contrôle d’chat.</li>
                    <li>Préparer les ensembles de données pour l'analyse en nettoyant, filtrant et structurant les données brutes.</li>
                    <li>Gérer les tableaux de bord et les rapports réguliers en actualisant les données et en vérifiant leur exactitude.</li>

                </ul>
             </div>
             <hr>
             <div style="text-align: left;">
                <h3 class="mb-0">Developpeur BI</h3>
                <h2 class="text-primary">VERNICOLOR GROUP</h2>
                <h6><u>6 février - 6 Juin | 4 mois </u></h6>
                <ul>
                    <li>Conception et developpement d'une solution business intelligence pour l’analyse de production et le contrôle d’chat.</li>
                    <li>Préparer les ensembles de données pour l'analyse en nettoyant, filtrant et structurant les données brutes.</li>
                    <li>Gérer les tableaux de bord et les rapports réguliers en actualisant les données et en vérifiant leur exactitude.</li>

                </ul>
             </div>

        </accordion-group>
        <accordion-group heading="Education">

        </accordion-group>
        <accordion-group heading="Certifications">

        </accordion-group>
        <accordion-group heading="Skills">

        </accordion-group>
    </accordion>



</div>
  
