<div class="container">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border"> Download PDF Resume </button>
    <div class="pb-2 opacity-75" >
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work experience">
                 <div style="text-align: left;">
                    <h3 class="mb-0">Developpeur BI</h3>
                    <h2 class="text-primary">VERNICOLOR GROUP</h2>
                    <h6><u>6 février - 6 Juin | 4 mois </u></h6>
                    <ul>
                        <li>Conception et developpement d'une solution business intelligence pour l’analyse de production et le contrôle d’chat.</li>
                        <li>Préparer les ensembles de données pour l'analyse en nettoyant, filtrant et structurant les données brutes.</li>
                        <li>Gérer les tableaux de bord et les rapports réguliers en actualisant les données et en vérifiant leur exactitude.</li>
    
                    </ul>
                 </div>
                 <hr>
                 <div style="text-align: left;">
                    <h3 class="mb-0">Developpeur Mobile</h3>
                    <h2 class="text-primary">STAGE D'ÉTÉ DANS LA SOCIETE SAN s.a</h2>
                    <h6><u>1 mois - 2022 </u></h6>
                    <ul>
                        <li>Conception et développement d'une application mobile de ventes des Animeaux.</li>
                        <u>Technologies utilisés :</u> Kotlin | Firebase 
                        
    
                    </ul>
                 </div>
            
    
            </accordion-group>
            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <h3>HIGHER INSTITUTE APPLIED SCIENCES AND TECHNOLOGIES OF SOUSSE</h3>
                    <h4>Software Engineering</h4>
                    <h6>2023 - Now</h6>
                    <br>
                    <br>

                    <h3>FACULTY OF ECONOMIC SCIENCES AND MANAGEMENT OF MAHDIA</h3>
                    <h4>Management IT</h4>
                    <h6>2020 - 2023</h6>
                </div>
    
            </accordion-group>
            <accordion-group heading="Certifications">
                <div style="text-align: left;">
                    <h3>Back End Development and APIs | <b>freeCodeCamp</b></h3>
                    
                    <ul>
                        <li>Obtained on August 26, 2023</li>
                    </ul>
                    <img src="../../assets/codeQR.png" alt="" width="100" height="100" class=""/>
                    
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3>Data Analysis with Python | <b>freeCodeCamp</b></h3>
                    
                    <ul>
                        <li>Obtained on July 26, 2023</li>
                    </ul>
                    <img src="../../assets/codeQR1.png" alt="" width="100" height="100" class=""/>
                    
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3>CCNA Introduction to Networking |<b>Cisco</b></h3>
                    <ul>
                        <li>Obtained on January 26, 2024</li>
                    </ul>
                    <img src="../../assets/CCNA Introduction to Networks.png"  alt="" width="100" height="100" class=""/>
                    
                
                   
                    
                </div>
                <hr>
                <div style="text-align: left;">
                    <h3>Fundamentals of digital marketing | <b>Google Digital Marketing</b></h3>
                    
                    <ul>
                        <li>Obtained on July 22, 2022 </li>
                        <li>Completion ID: 181701799</li>
                    </ul>
                    
                </div>
                
             
            </accordion-group>
            <accordion-group heading="Skills">
                <div class="row" style="text-align: left;">
                <div class="col">
                    <h3>Programming language</h3>
                    <ul>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>C</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Base de données</h3>
                    <ul>
                        <li>MySQL</li>
                        <li>Oracle</li>
                        <li>NoSQL</li>
                        <li>Firebase</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Frameworks</h3>
                    <ul>
                        <li>Angular</li>
                        <li>Power BI</li>
                        <li>Talend</li>
                        <li>Adobe Illustrator</li>
                        
                    </ul>
                </div>
                </div>
    
            </accordion-group>
        </accordion>
    </div>
    



</div>
  
