.imgg {
   /* border:0.5px solid #ffffff;; /* Replace #yourBorderColor with the color you desire */
   /* box-shadow: 15px 5px 5px red; */
   filter: drop-shadow(15px 5px 5px rgb(198, 222, 255));
}

.linkk-portfolio{
    cursor: pointer;
}

.desc {
    position: relative;
    margin-top: 0%;
}
.featuredColor{
    color: rgb(0, 61, 146);
}