<div class="container">
    <div class="row">

       <div class ="col-lg shadow border m-1">
          <div class="text-center">
            <h2>About me</h2>
            <img src="../../assets/Untitled design (1).png" alt="profile picture" width="256" height="256" class="rounded-circle"/>
            <p>
                Enthousiaste élève en 1ère année du cycle ingénieur en informatique.
                Je me présente en tant que jeune diplômé en Licence Informatique de Gestion.
                Ma transition vers le cycle ingénieur en informatique représente une nouvelle étape dans mon engagement envers l'apprentissage continu.
                Je suis déterminé à approfondir mes connaissances techniques et à acquérir de nouvelles compétences qui me permettront de relever les défis passionnants du domaine informatique.

            </p>
          </div>
       </div>
       <div class="col-lg shadow border m-1">
        <div class="text-center">
            <h2>Featured Projects</h2>

        </div>
       </div>
    </div>
</div>
