<div class="container">
    <div class="row">

       <div class ="col-lg shadow border m-1">
          <div class="text-center">
            <h2>About me</h2>
            <br>
            <img src="../../assets/Untitled design (1).png" alt="profile picture" width="256" height="256" class="imgg"/>
            <br>
            <br>
            <br>
            <p class="desc">
                I'm currently a Software
                engineering student and diving
                deep into the world of web
                development. I've got a solid grip
                on front-end
                technologies, and now I'm
                actively seeking a summer
                intership opportunity .
            </p>
          </div>
       </div>
       <div class="col-lg shadow border m-1">
        <div class="text-center">
            <h2>Featured Projects</h2>
            <h4 class="featuredColor">
                {{FeaturedProject.name}}
            </h4>
            <carousel>
        <div *ngFor="let picture of FeaturedProject.pictures">
            <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>

        </div>
    </carousel>
    <p class="mt-2">{{FeaturedProject.summary}}</p>
    <p>Visit the <u class='linkk-portfolio' routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</u> section to learn more !</p>
    <p>{{FeaturedProject.description}}</p>

        </div>
       </div>
    </div>
</div>
